

.d-abs{
    position: absolute;
    right: 2%;
}


@font-face {
    font-family:NotoKufiArabic;
    src: url("../../fontAR/NotoKufiArabic-VariableFont_wght.ttf");
}
*{
    font-family: NotoKufiArabic;
}


[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl!important;
}

.backTop{
    position: fixed;
    bottom: 8px;
    left: 10px;
    z-index: 9999;
    cursor: pointer;
    background-color: var(--borderColor);
    padding: 6px;
    transition: all 2s;
    border-radius: 10%;
    display: none;
}
.backTop.aa{
display: block;
}

.header2-search{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 9px 20px 14px;
    background:  var(--blueColor);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--borderColor);
    border-radius: 4px 0px 0px 4px;
}






.header2-icon{
    position: absolute;
    background:  var(--blueColor);
    padding: 3px 7px;
    border-radius: 50%;
    top: -5px;
    left: 0;
    font-size: 10px;
    color: #ffffff;
}
.header2-iconCard{
    position: absolute;
    background:  var(--blueColor);
    padding: 3px 7px;
    border-radius: 50%;
    top: -5px;
    left: -15px;
    font-size: 10px;
    color: #ffffff;

}







.listAbs{
    position: absolute;
    top: 0;
    z-index: 99999;
    /* right: 0; */
    right: 0px;
    width: 25%;
}
@media (max-width: 992px) {
    .listAbs{
        position: absolute;
        top: 0;
        z-index: 99999;
        right: 0px;
        left: 0px;
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .listAbs{
        position: absolute;
        top: 0;
        z-index: 99999;
        right: 0px;
        left: 0px;
        width: 100%;
    }
}





.dir-rtl{
    height: 350px;
    direction: ltr;
    
}
.dir-ltr{
    direction: rtl; 
}

.dir-rtl::-webkit-scrollbar {
    width: 6px;  
}
/* Track */
.dir-rtl::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle var(--someBgColor)*/
.dir-rtl::-webkit-scrollbar-thumb {
    background:#888 ; 
    border-radius: 8px;
}
/* Handle on hover */
.dir-rtl::-webkit-scrollbar-thumb:hover {
    background: #888; 
}




.rotate{
    transform:rotate(180deg);
}




.SpecialOffers .arrow-left{
    top: -40px;
    right: 93%;
    background-color: transparent;
    border :1px solid  var(--btnBorderColor);
    
}
.SpecialOffers .arrow-right{
    top: -40px;
    right: 97%;
    background-color: transparent;
    border :1px solid  var(--btnBorderColor);
}
@media (max-width: 575.98px) {
    .SpecialOffers .arrow-left{
        right: 83%; 
    }
    .SpecialOffers .arrow-right{
        right: 93%;
    }
}

 .slide-numberImg{
    background:  var(--blueColor);
    position: absolute;
    /* z-index: 9999; */
    border-radius: 4px;
    padding: 8px 8px;
    top: 15px;
    right: 5%;
    
    font-family: 'NotoKufiArabic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color:  var(--whiteColor);
}
.slide-numberImg1{
    background:  var(--blueColor);
    position: absolute;
    z-index: 9999;
    border-radius: 4px;
    padding: 8px 8px;
    top: 20px;
    right: 10%;
    
    font-family: 'NotoKufiArabic';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color:  var(--whiteColor);
}
.slide-numberImg2{
    background:  var(--blueColor);
    position: absolute;
    /* z-index: 9999; */
    border-radius: 4px;
    padding: 8px 8px;
    top: 15px;
    left: 5%;
    
    font-family: 'NotoKufiArabic';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color:  var(--whiteColor);
}

.slide-contanier{
    position: absolute;
    left: 5px;
    bottom: 60px;
    display: none;
}
.hover:hover .slide-contanier{
    display: block;
}


.dele .form-select{
    background-image: url("../../image/ar.svg");
    background-repeat: no-repeat;
    background-position: 10%;
}



.arrow-rightq{
    position: absolute!important;
    background-color:  var(--whiteHafeColor);
    border :1px solid  var(--btnBorderColor);
    top: auto;
    bottom: -100px!important;
    left: 0px!important;
    right: auto!important;
}
.arrow-leftq{
    position: absolute!important;
    background-color: var(--whiteHafeColor);
    border :1px solid  var(--btnBorderColor);
    top: auto;
    bottom: -100px!important;
    right: 0px!important;
}


.arrow-left2{
    top: -40px;
    right: 93%!important;
    background-color: transparent;
    border :1px solid  var(--btnBorderColor);
    
}
.arrow-right2{
    top: -40px;
    right: 97%!important;
    left: 0px;
    background-color: transparent;
    border :1px solid  var(--btnBorderColor);
}
@media (max-width: 575.98px) {
    .arrow-left2{
        right: 83%!important; 
    }
    .arrow-right2{
        right: 93%!important;
    }
}





/* fond product page */
.imgIcon{
    transform: rotate(0deg);
}

.sliderAlid .progressAs{
    height: 100%;
    right: 0%;
    left: 0%;
    position: absolute;
    border-radius: 5px;
    background:var(--blueColor);
}

.sliderAlidt .progressAst{
    height: 100%;
    right: 0%;
    left: 0%;
    position: absolute;
    border-radius: 5px;
    background:var(--blueColor);
}

.fondProduct .cercil1{
    border: 1px solid  var(--blueColor);
    background-color:  var(--blueColor);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -11px;
    left: 0px;
}






.rootat{
    transform: rotate(-180deg);
}

/* sign in pages */
.abs{
    position: absolute;
    top: 8px;
    left: 10px;
}

/* end sign in pages */

/* complete request page */


/* end complete request page */

/* Terms and Conditions pages */
.line::after{
    content: "";
    background-color: var(--borderColor);
    position: absolute;
    top: 60px;
    right: 26px;
    width: 60px;
    height: 1px;
    border-radius: 3px;
}
/* end Terms and Conditions pages */

/* start my acount  folder */


.swap{
    transform: rotate(0deg);
}

/* addresses */


/* shopping card page*/




/* orders page */


/* end my acount folder */


.whats{
    position: fixed;
    left: 10px;
    bottom: 60px;
}